* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.section {
  padding: 120px 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.navigation {
  display: flex;
  width: 100%;
  gap: 76px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-color {
  color: var(--NAVY-BLUE, #2e2f42);
}

.footer-logo-color {
  color: var(--CLOUD, #f4f4fd);
}

.header-list {
  display: flex;
  gap: 40px;
}

/* .header-item {
} */

.header-link {
  color: var(--NAVY-BLUE, #2e2f42);
  /* Body Medium */
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  display: flex;
  align-items: center;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-item {
  display: flex;
  flex-direction: row;
}

.contacts-link {
  color: var(--SLATE, #434455);
  /* Body */
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.hero-section {
  background: var(--NAVY-BLUE, #2e2f42);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  width: 496px;

  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}

.hero-btn {
  background: var(--IRIS, #4d5ae5);
  border-color: transparent;
  border-radius: 4px;
  padding: 16px 32px;
  margin-top: 48px;

  color: var(--WHITE, #fff);
  /* Button Text */
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-btn:hover {
  background: #404bbf;
}

.hero-btn:focus {
  background: #404bbf;
}

.section-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 24px * 3) / 4);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.features-text {
  /* Body */
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.team-section {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-image {
}

.team-item {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.team-text {
  text-align: center;
  /* Body */
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-item {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

/* .portfolio-image {
} */

.portfolio-title {
  padding-top: 32px;
  padding-left: 16px;
  color: var(--NAVY-BLUE, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.portfolio-text {
  /* Body */
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-left: 16px;
}

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 17.5px;
  padding: 100px 0;
}

.footer-logo {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  /* Body */
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 264px;
}
